<body>
  <header>---- Royal Riders Club ----</header>
  <nav>
    <!-- <select name="" id="">
      <option value="1"><a routerLink="one">One</a></option>
      <option value="2"><a routerLink="two">two</a></option>
      <option value="3"><a routerLink="three">three</a></option>
    </select> -->
    <a routerLink="">Home</a>
    <a routerLink="members">Members</a>
    <a routerLink="events">Events</a>
    <a routerLink="register">Registration</a>
    <a routerLink="feedback">Feedback</a>
  </nav>
  <div><router-outlet></router-outlet></div>
  <footer>&copy;Royal Riders Club LTD</footer>
</body>