a{
    margin: 30px;
    text-decoration: none;
    font-size: 25px;
    color: rgb(18, 73, 73);
}
header{
    background-color: rgb(39, 170, 164);
    color: rgb(15, 68, 71);
    font-size: 50px;
    padding: 10px;
}
nav{
    height: 40px;
    background-color: rgb(80, 207, 201);
    padding-top: 15px;
}
body{
    background-color: rgb(163, 228, 228);
    padding: 1px;
    text-align: center;
    /* height: 490px; */
}
footer{
    background-color: rgb(39, 170, 164);
    color: rgb(15, 68, 71);
    font-size: 20px;
    padding: 3px;
}